.friendsRow {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.friendsColumn {
	text-align: center;
}
.title {
	text-align: center;
	color: #ffffff;
}

.avatarImg {
	max-width: 30px;
}
.subTitle {
	font-size: 12px;
	margin: 0px;
}
.btn {
	font-size: 12px;
}
