.navbarBlock {
	grid-area: n;
	background: linear-gradient(180deg, #5499f2 0%, #1877f2 100%);
	padding: 20px;
	display: grid;
	grid-template-rows: 300px;
}
.navbarFriends {
}
.item {
	list-style: none;
}
.item a {
	color: #ffffff;
	text-decoration: none;
}
ul {
	margin: 0px;
	padding: 0px;
}
.item a.active {
	color: gold;
}
