.app-wrapper {
	margin: 50px auto;
	display: grid;
	max-width: 1200px;
	grid-template-areas:
		"n h"
		"n c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2.5fr 10fr;
	/* grid-gap: 10px; */
}

.app-wrapper-content {
	grid-area: c;
	color: #1877f2;
	background: #e5e5e5;
}
