.gialogs {
	display: grid;

	grid-template-columns: 2fr 10fr;
}
.dialogItems a {
	padding: 10px;
	color: #1877f2;
}
.messages {
	display: grid;
	grid-template-columns: 1fr;
}

.item {
}
.textarea {
}
