.column {
}
.item {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr;
	/* display: flex;
	align-items: center; */
}
.item2 {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr;

	/* display: flex;
	align-items: center; */
}
